body {
    color: #272829;
    background-color: #f5f8fd;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
    color: #a8a9b4;
}

#cv {
    margin-left: 300px;
}

.nav-menu {
    padding: 30px 0 0 0;
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    >ul>li {
        position: relative;
        white-space: nowrap;
    }
    a {
        display: flex;
        align-items: baseline;
        color: #a8a9b4;
        padding: 6px 15px;
        margin-bottom: 8px;
        transition: 0.3s;
        font-size: 15px;
        i {
            font-size: 24px;
            padding-right: 8px;
            color: #6f7180;
        }
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    .active,
    li:hover>a {
        text-decoration: none;
        color: #fff;
    }
    a:hover i,
    .active i,
    li:hover>a i {
        color: #149ddd;
    }
}


.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #149ddd;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}


.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}


.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    font-size: 28px;
    color: #fff;
    line-height: 0;
    cursor: pointer;

    i {
        font-size: 28px;
        color: #fff;
        line-height: 0;
    }

    &:hover {
        background: #2eafec;
        color: #fff;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
    #cv {
        margin-left: 0;
    }
}

@media (min-width: 1199px) {
    .mobile-nav-toggle {
        display: none;
    }
}